<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>{{h1}}</h1>
        <p>{{p}}</p>
        <form>
            
            User Name : <input type="text" placeholder="Enter UserName" name="uname"><br><br>
            Password : <input type="password" placeholder="Enter Password" name="pass"><br><br>
            <input type="submit" value="Enter">

        </form>
    </body>
</html>