<html>
    <head>
        <title>
            {{title}}
        </title>
    </head>
    <body>
        <h1>{{h1}}</h1>
        <p>Username is {{uname}}</p>
        <p>Password is {{pass}}</p>
    </body>
</html>